#parse("/velocity/layout.vm")
#@mainLayout()
    
    <section class="engine"><a rel="external" href="http://www.cisco.com">cisco.com</a></section>
    <section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow mbr-after-navbar" id="header1-1" style="background-image: url(../assets/images/Fruehling.jpg)">
        <div style="margin-top: 100; margin-left: 50; margin-right: 50">

            <h1 class="text-md-left" style="color: white; font-weight: bold">$!greeting.getGreeting(), $!currentUser.getGivenName()</h1>

            <div class="mbr-author card-footer lead" style="margin-top:30; margin-bottom:30">
                <div  class="mbr-author-img" style="margin-bottom:10"> <img src=
                    #if ($!currentUser.getPersonalAdvisorPhotoLink() == '')
                      "../assets/images/person.jpeg"
                      #else "$!currentUser.getPersonalAdvisorPhotoLink()"
                    #end
                    alt="Photo missing" class="img-circle" data-toggle="tooltip" title="Klicken, um mich anzurufen">
                </div>
                <p >Mein Name ist $!currentUser.getPersonalAdvisorName() und ich bin ihr persönlicher Ansprechpartner. Gerne berate ich sie. 
                Klicken sie auf die grüne Anruftaste , um mich zu kontaktieren
                </p>
                <div class="row">
                    <div class="col-4">
                        <a id="dial" class="btn btn-primary btn-success" style="color: black; font-weight: bold; font-style: normal; font-family: 'Raleway', sans-serif;" data-toggle="tooltip" title="Klicken, um mich anzurufen"><span class="glyphicon glyphicon-facetime-video"></span> Anrufen</a>
                        <a id="hangup" class="btn btn-primary btn-danger" style="color: black; font-weight: bold; font-style: normal; font-family: 'Raleway', sans-serif;" data-toggle="tooltip" title="Klicken, um aufzulegen"><span class="glyphicon glyphicon-facetime-video"></span> Auflegen</a>
                    </div>
                    <!--Testimplementation for Spark SDK Calling function --->
                    <Input id="access-token" hidden="false" value="$data-access-token">
                    <Input id="dialer" hidden="true" value="$!currentUser.getPersonalAdvisorEmail()">
                    <p style="float: left;">Eigenansicht</p>
                        <div style="height: 120px; width: 160px; float: left; margin-left: 50; margin-right: 50; margin-bottom: 30">
                            <video id="self-view" muted autoplay style="height:inherit ; width:inherit ; border: solid black 2px"</video>                       
                        </div>
                    <p style="float: left;">Berateransicht</p>
                        <div style="height: 272x; width: 480px; float: left; margin-left: 50; margin-right: 50; margin-bottom: 30">
                            <audio id="remote-view-audio" autoplay></audio>
                            <video id="remote-view-video" autoplay style="height:inherit ; width:inherit ; border: solid black 2px"></video>
                        </div>

                </div>
            </div>
        </div>
                       
    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#footer1-2"><i class="mbr-arrow-icon"></i></a></div>

    </section>

    <section class="mbr-section" id="msg-box6-1" data-bg-video="https://www.youtube.com/watch?v=uNCr7NdOJgw" style="padding-top: 120px; padding-bottom: 120px;">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
        <div class="container">
            <div class="row">
                <div class="mbr-table-md-up">
                  <div class="mbr-table-cell col-md-5 text-xs-center text-md-right content-size">
                      <h3 class="mbr-section-title display-2">$msg.get("INDEX_PROPERTY")</h3>
                      <div class="lead">
                        <p>$msg.get("INDEX_PROPERTY_TEXT")<br></p>
                      </div>

                      <div><a class="btn btn-warning" href="$WebPath.getIMMO_BOT()">$msg.get("INDEX_CONSULTATION")</a></div>
                  </div>

                  <div class="mbr-table-cell mbr-left-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                      <div class="mbr-figure"><img src="../assets/images/haus-insel-krk-immobilien-13-1400x1050.png"></div>
                  </div>

                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-parallax-background" id="header2-3" style="background-image: url(../assets/images/landscape.jpg)">

        <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);">
        </div>

        <div class="mbr-table mbr-table-full">
            <div class="mbr-table-cell">

                <div class="container">
                    <div class="mbr-section row">
                        <div class="mbr-table-md-up">

                          <div class="mbr-table-cell mbr-valign-top mbr-left-padding-md-up col-md-7 image-size" style="width: 50%;">
                              <div class="mbr-figure"><img src="../assets/images/coworkers.jpg"></div>
                          </div>


                            <div class="mbr-table-cell col-md-5 content-size text-xs-center text-md-left">

                                <h3 class="mbr-section-title display-2">$msg.get("INDEX_EMPLOYEES")</h3>

                                <div class="mbr-section-text">
                                    <p>$msg.get("INDEX_EMPLOYEES_TEXT")</p>
                                </div>

                                <div class="mbr-section-btn"><a class="btn btn-primary" href="$WebPath.getCONSULTANT()">$msg.get("INDEX_CONSULTATION")</a></div>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>       
    </section>
    <!--Testimplementation for Spark SDK Calling function --->
        <!-- /sparksdk_bundle.js is the bundled CiscoSpark JavaScript SDK -->
        <script src="../js/sparksdk_bundle.js"></script>
        <!-- sparksdk_app.js is your application code -->
        <script src="../js/sparksdk_app.js"></script>
#end