#parse("/velocity/layout.vm")
#@mainLayout()


<style type="text/css">
    img {
    border: solid white 2px;
    cursor: pointer;
    }
</style>

<section class="engine"><a rel="external" href="https://mobirise.com">Web Site Builder</a></section><section class="mbr-section mbr-parallax-background mbr-after-navbar" id="testimonials1-b" style="background-image: url(../assets/images/landscape2.jpg); padding-top: 120px; padding-bottom: 120px;">



        <div class="mbr-section mbr-section__container mbr-section__container--middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <h3 class="mbr-section-title display-2">Ihr Beraterteam</h3>
                        <small class="mbr-section-subtitle">Klicken sie auf den gewünschten Berater</small>
                    </div>
                </div>
            </div>
        </div>


    <div class="mbr-testimonials mbr-section mbr-section-nopadding" ng-controller="JGCtrl">
        <div class="container">
            <div class="row">

                #foreach ($user in $users)
                    <div class="col-xs-12 col-lg-4">
                        <div class="mbr-testimonial card mbr-testimonial-lg">
                            <div class="card-block">$!user.getFunction()</div>
                            <div class="mbr-author card-footer">
                                <div ng-click="clickToOpenSparkPatrick()" class="mbr-author-img"><img src="$!user.getPhotolink()" class="img-circle"></div>
                                <div class="mbr-author-name">$!user.getGivenName()  $!user.getSurName()</div>
                                <small class="mbr-author-desc">Berater</small>
                            </div>
                        </div>
                    </div>
                #end
                
                <div class="col-xs-12 col-lg-4">
                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block">Terminvereinbarung</div>
                        <div class="mbr-author card-footer">
                            <div ng-click="clickToOpenJG()" class="mbr-author-img"><img src="../assets/images/face2.jpg" class="img-circle"></div>
                            <div class="mbr-author-name">Maja Eschborn</div>
                            <small class="mbr-author-desc">Service Center Leitung</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

#end