#parse("/velocity/layout.vm")
#@mainLayout()

<link rel="stylesheet" href="https://code.s4d.io/widget-space/production/main.css">

<section class="engine"><a rel="external" href="https://mobirise.com">Web Site Builder</a></section><section class="mbr-section mbr-parallax-background mbr-after-navbar" id="testimonials1-b" style="background-image: url(../assets/images/landscape2.jpg); padding-top: 120px; padding-bottom: 120px;">

    

    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">$msg.get("IMMO_BOT_HEADLINE")</h3>
                    <small class="mbr-section-subtitle">$msg.get("IMMO_BOT_DESCRIPTION")</small>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block" style="height: 400px;">
                                <main
                                class="ciscospark-space"
                                data-toggle="ciscospark-space"
                                data-access-token="ZGE4MmNlODItNWY0YS00ZDlkLTgyODItNTlmYjRjZDAyMjJlNDRmZTZiY2UtMWJk"
                                data-to-person-email="BankDemoBot@sparkbot.io"
                                />
                        </div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="../assets/images/bot.jpg" class="img-circle"></div>
                            <div class="mbr-author-name">Immobilienberater</div>
                            <small class="mbr-author-desc">Immobilienberater</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.s4d.io/widget-space/production/bundle.js"></script>
    
</section>

#end