#parse("/velocity/layout.vm")
#@mainLayout()

    <script type="text/javascript" src="/js/design.js"></script>

    <section class="engine">
        <a rel="external" href="https://mobirise.com">Mobirise Web Creator</a></section><section class="mbr-section mbr-section-md-padding mbr-footer footer2 mbr-after-navbar" id="contacts2-a" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">
        <h2>Design anpassen - under construction</h2>   
        <fieldset class="report-field">
          <legend class="report-border">Firmenname</legend>
        <div class="container">
          <form class="form-inline" role="form">
            <div class="form-group">
              <div  data-toggle="tooltip" title="Default Onebank">
                <input placeholder="Onebank" type="text" value='$!custom.getCompanyname()' class="form-control" id="company_text"  maxlength="30" size="30">               
              </div>
            </div>
          </form>
        </div>
        </fieldset>  
        <fieldset class="report-field">
          <legend class="report-border">Hintergrundbild</legend>
          <div class="container">
            <form class="form-inline" role="form">
                <div class="form-group">
                  <div class="radio"  data-toggle="tooltip" title="Default Hintergundbild">    
                    <label class="radio-inline" id="backgroundimagedefault">
                        <input type="radio" name="optradio" 
                        #if($!custom.isBackgroundcustomized() == false) checked="" #end
                        >Default
                      <img src="$!custom.getCOMPANYDEFAULTBACKGROUND()" class="img-thumbnail img-responsive" alt="Onebank" width="100" height="100"> 
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="radio" data-toggle="tooltip" title="Tausche den Hintergund per Drag and Drop aus">    
                    <label class="radio-inline" id="backgroundimagecustom">
                      <input type="radio" name="optradio"
                      #if($!custom.isBackgroundcustomized() == true) checked="" #end       
                      >Individuell
                      <img src="$!custom.getCOMPANYALTERNATIVEBACKGROUND()" class="img-thumbnail img-responsive" alt="Alternative" width="100" height="100"> 
                    </label>
                  </div>
                </div>    
            </form>
          </div>
         </fieldset>   
    </section>

#end