#parse("/velocity/layout.vm")
#@mainLayout()

 
    <!-- jquery for jtable in admin user page -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!-- Include one of jTable styles. -->
  <link href="/jtable/themes/metro/darkgray/jtable.min.css" rel="stylesheet" type="text/css" />
  <!-- Include jTable script file. -->
  <script src="/jtable/jquery.jtable.min.js" type="text/javascript"></script>
 
 

    <script type="text/javascript">
    $(document).ready(function () {
        $('#UserTableContainer').jtable({
            title: 'Table of User',
            actions: {
                listAction: '/GettingStarted/PersonList',
                createAction: '/GettingStarted/CreatePerson',
                updateAction: '/GettingStarted/UpdatePerson',
                deleteAction: '/GettingStarted/DeletePerson'
            },
            fields: {
                id: {
                    key: true,
                    list: false
                },
                givenName: {
                    title: 'Vorname',
                    width: '10%'
                },
                surName: {
                    title: 'Nachname',
                    width: '10%'
                },
                password: {
                    list: false,
                    title: 'Password',
                    width: '10%',
                },
                photolink: {
                    list: false,
                    title: 'Bild',
                    width: '10%'
                },
                email: {
                    title: 'Email',
                    width: '10%'
                },
                function: {
                    list: false,
                    title: 'Bezeichnung',
                    width: '20%'
                },
                jabber_use: {
                    title: 'Jabber',
                    type:  'checkbox',
                    width: '5%'
                },
                spark_use: {
                    title: 'Spark',
                    type:  'checkbox',
                    width: '5%'
                },
                adminprivilege: {
                    title: 'Admin',
                    type:  'checkbox',
                    width: '5%'
                }, 
            }
        });
    });
</script>




    <section class="engine"><a rel="external" href="https://mobirise.com">Mobirise Web Creator</a></section><section class="mbr-section mbr-section-md-padding mbr-footer footer2 mbr-after-navbar" id="contacts2-a" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">
        
        <div class="container">
            <form method='post' enctype='multipart/form-data'>
                <input type='file' accept="image/*" name='uploaded_file'>
                <button>Bild hochladen</button>"
            </form>"  
        </div>
        <div id="UserTableContainer"></div>
    </section>

    

    
#end