#parse("/velocity/layout.vm")
#@mainLayout()

 
    <!-- jquery for jtable in admin user page -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Include one of jTable styles. -->
    <link href="/jtable/themes/metro/darkgray/jtable.min.css" rel="stylesheet" type="text/css" />
    <!-- Include jTable script file. -->
    <script src="/jtable/jquery.jtable.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/jtable/localization/jquery.jtable.de.js"></script>
    <script type="text/javascript" src="/js/adminpage.js"></script>
 
    <section class="engine"><a rel="external" href="https://mobirise.com">Mobirise Web Creator</a></section><section class="mbr-section mbr-section-md-padding mbr-footer footer2 mbr-after-navbar" id="contacts2-a" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">
        <!--
        <div class="container">
            <form method='post' enctype='multipart/form-data'>
                <input type='file' accept="image/*" name='uploaded_file'>
                <button>Bild hochladen</button>"
            </form>"  
        </div>
        -->
        <div id="UserTableContainer"></div>
    </section>

    

    
#end